.messageConatiner {
    max-height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    display: flex;
    flex-direction: column;
}

.messageConatiner > div:last-child {
    scroll-snap-align: end;
}

.receiver, .sender, .admin {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    word-break: break-word;
}

.sender{
    align-self: flex-end;
}

.admin {
    align-self:center;
    color: rgb(54, 1, 1);
}

